<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= plays.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/CSS/style.css" type="text/css">
    <link rel="stylesheet" href="/CSS/normalize.css" type="text/css">
</head>
<body>
    <% if(typeof user != 'undefined') { %>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="assets/IMGS/theater-svgrepo-com.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                PlayRight</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item me-2">
                            <a class="nav-link" aria-current="page" href="#">About Us</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary nav-link" data-bs-toggle="modal" href="#" role="button">Profile</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="btn btn-outline-primary nav-link" data-bs-toggle="modal" href="/logout" role="button">Log Out</a>
                        </li>
                    </ul>
                </div>        
            </div>
        </nav>
        <% }else{ %>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/">
                    <img src="assets/IMGS/theater-svgrepo-com.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    PlayRight</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav d-flex">
                            <li class="nav-item me-2">
                                <a class="nav-link" aria-current="page" href="#">About Us</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary nav-link" data-bs-toggle="modal" href="#logInModal" role="button">Log In</a>
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary nav-link" data-bs-toggle="modal" href="#signUpModal" role="button">Sign Up</a>
                            </li>
                        </ul>
                    </div>        
                </div>
            </nav>
            <% } %>
    <div class="wrapper">
        <div class="profile-main">
            <section>
                <h1>Title</h1>
                <span><%= plays.title %></span>
            </section>
            <section class="playwright">
                <h2>Playwright</h2>
                <span><%= plays.playwright %></span>
            </section>
            <section>
                <h2>Genres</h2>
                <% if(Array.isArray(plays.genre) === false) {%>
                <span class="genres"><%= plays.genre %></span> 
                <% } %>   
                
                <% if(Array.isArray(plays.genre) === true) {%>
                <span class="genres"><%= plays.genre[0] %>, <%= plays.genre[1] %></span> 
                <% } %>  
            </section>
            <section>
                <h2>Roles</h2>
                <span><%= plays.roles %></span>
                <h3>Male: </h3><span><%= plays.maleRoles %></span>
                <h3>Female: </h3> <span><%= plays.femaleRoles %></span>
            </section> 
            <section>
                <h2>Acts</h2>
                <span><%= plays.acts %></span>
            </section>          
            <section>
                <h2>Year</h2>
                <span>N/A</span>
            </section>
            <section>
                <h2>Synopsis</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nulla eligendi quo, magni error explicabo optio soluta aspernatur dolores exercitationem nemo esse omnis odit dolore itaque id possimus quaerat commodi?</p>
            </section>

        </div>
    </div>
</body>
</html>