<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Results</title>
        <link rel="stylesheet" href="/CSS/style.css" type="text/css">
        <link rel="stylesheet" href="/CSS/normalize.css" type="text/css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>    
        <% if(typeof user != 'undefined') { %>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/">
                    <img src="assets/IMGS/theater-svgrepo-com.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    PlayRight</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="navbar-nav d-flex">
                            <li class="nav-item me-2">
                                <a class="nav-link" aria-current="page" href="#">About Us</a>
                            </li>
                            <li class="nav-item dropdown me-2">
                                <a id="user-name-btn" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= user.userName %></a>
                                <ul class="dropdown-menu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Dashboard</a></li>
                                </ul>                
                            </li>
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary nav-link" data-bs-toggle="modal" href="/logout" role="button">Log Out</a>
                            </li>
                        </ul>
                    </div>        
                </div>
            </nav>
            <% }else{ %>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="/">
                        <img src="assets/IMGS/theater-svgrepo-com.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                        PlayRight</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav d-flex">
                                <li class="nav-item me-2">
                                    <a class="nav-link" aria-current="page" href="#">About Us</a>
                                </li>
                                <li class="nav-item me-2">
                                    <a class="btn btn-outline-primary nav-link" data-bs-toggle="modal" href="#logInModal" role="button">Log In</a>
                                </li>
                                <li class="nav-item me-2">
                                    <a class="btn btn-outline-primary nav-link" data-bs-toggle="modal" href="#signUpModal" role="button">Sign Up</a>
                                </li>
                            </ul>
                        </div>        
                    </div>
                </nav>
                <% } %>
        <div class="container">  
            <!-- <section class="resultSection" data-position="plays">
                <h2>Results</h2>

                <ul class="results">
                    <li class="results list-header">
                        <span>Title</span>
                        <span>Genres</span>
                        <span>Roles</span>
                    </li>
                    <% for(var i = 0; i < plays.length; i++) {%>
                    <li class="results" data-id='<%=plays[i]._id%>'>
                        <span><a href="/plays/<%=plays[i]._id%>"><%= plays[i].title %></a></span>
                        <% if(Array.isArray(plays[i].genre) === false) {%>
                            <span class="genres"><%= plays[i].genre %></span> 
                        <% } %>   
                            
                        <% if(Array.isArray(plays[i].genre) === true) {%>
                            <span class="genres"><%= plays[i].genre[0] %>, <%= plays[i].genre[1] %></span> 
                        <% } %> 
                        <span><%= plays[i].roles %></span>
                    </li>
                    <% } %>
                </ul>
            </section> -->
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Genres</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Year</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                <% for(var i = 0; i < plays.length; i++) {%>
                 <tr data-id='<%=plays[i]._id%>'>
                    <td><a href="/plays/<%=plays[i]._id%>"><%= plays[i].title %></a></td>
                    <td class="genres"><% for(var n = 0; n < plays[i].genre.length; n++) {%>
                        <p><%= plays[i].genre[n] %></p>
                    <% } %></td>
                    <td><%= plays[i].roles %></td>
                    <td><%= plays[i].year %></td>
                  </tr>
                <% } %>
                </tbody>
              </table>
        </div>
    </body>
</html>
